# RStudio files
.Rproj.user/
.Rhistory
.RData
.DS_Store

# Quarto/knitr cache & output
*_cache/
*_files/

# Output folders and render artifacts
outputs/
*.html
*.pdf
*.docx

# Data files (to avoid versioning raw sensitive data)
data/*.csv
data/*.xlsx
